<!DOCTYPE html>
<html lang="en">


<%- include('partials/head')  %> 

<body>
    <header>


        <section class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
                <form action="*" class="search" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <button><i class="fa fa-search"></i></button>
                </form>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>

        <nav class="nav-bar">
            <ul class="nav-shop">
                <li type="none"> <a href="*">Ofertas</a> </li>
                <li type="none"> <a href="*">Tiendas Oficiales</a> </li>
                <li type="none"> <a href="*">Vender</a> </li>
                <li type="none"> <a href="*">Ayuda</a> </li>
            </ul>
            <ul class="nav-user">
                <li type="none"> <a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li type="none"> <a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li type="none"> <a href="*">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <section class="burger-menu">
            <i class="fas fa-bars"></i>
        </section>

    </header>

    <section class="banner">
        <a href="*"><img class="logoml" src="images/img-home-banner.jpg" alt="Banner de ofertas"></a>
    </section>  

    <main>

        <section class="ultima-visita">
            <h3>Basado en tu última visita</h3>
            
            <div class="items">

                <article class="item">
                    <img src="images/img-cafetera-moulinex.jpg" alt="">
                    <article class="item-detail">
                    <!-- <p class="shipment-icon"><i class="fas fa-truck"></i></p> -->
                    <i class="fas fa-truck"></i>
                    <div class="item-detail-data">
                        <p class="precio">$6.770</p>
                        <p class="desc">40% OFF</p>
                    </div>
                    <h4 class="title-item">Cafetera Moulinex</h4> 
                    
                </article>
                </article>

                <article class="item">
                    <img src="images/img-macbook-pro-2019.jpg" alt="">
                    <article class="item-detail">
                    <!-- <p class="shipment-icon"><i class="fas fa-truck"></i></p> -->
                    <i class="fas fa-truck"></i>
                    <div class="item-detail-data">
                        <p class="precio">$230.000</p>
                        <p class="desc">20% OFF</p>
                    </div>
                    <h4 class="title-item">MacBook Pro 2019</h4>
                    </article>
                </article>

                <article class="item">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                    <article class="item-detail">
                    <!-- <p class="shipment-icon"><i class="fas fa-truck"></i></p> -->
                    <i class="fas fa-truck"></i>
                    <div class="item-detail-data">
                       <p class="precio">$70.500</p>
                       <p class="desc">10% OFF</p>
                    </div>
                    <h4 class="title-item">Samsung Galaxy S10</h4>
                    </article>
                </article>

                <article class="item">
                    <img src="images/img-tv-samsung-smart.jpg" alt="">
                    <article class="item-detail">
                    <!-- <p class="shipment-icon"><i class="fas fa-truck"></i></p> -->
                    <i class="fas fa-truck"></i>
                    <div class="item-detail-data">
                        <p class="precio">$23.200</p>
                        <p class="desc">5% OFF</p>
                    </div>
                    <h4 class="title-item">SmartTv Samsung 43"</h4>
                    </article>
                </article>

            </div>

        </section>

        <section class="ofertas">
            <h3>Ofertas</h3>

            <div class="items">

                <article class="item">
                    <img src="images/img-cafetera-moulinex.jpg" alt="">
                    <article class="item-detail">
                    <!-- <p class="shipment-icon"><i class="fas fa-truck"></i></p> -->
                    <i class="fas fa-truck"></i>
                    <div class="item-detail-data">
                        <p class="precio">$6.770</p>
                        <p class="desc">40% OFF</p>
                    </div>
                    <h4 class="title-item">Cafetera Moulinex</h4> 
                    
                </article>
                </article>

                <article class="item">
                    <img src="images/img-macbook-pro-2019.jpg" alt="">
                    <article class="item-detail">
                    <!-- <p class="shipment-icon"><i class="fas fa-truck"></i></p> -->
                    <i class="fas fa-truck"></i>
                    <div class="item-detail-data">
                        <p class="precio">$230.000</p>
                        <p class="desc">20% OFF</p>
                    </div>
                    <h4 class="title-item">MacBook Pro 2019</h4>
                    </article>
                </article>

                <article class="item">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                    <article class="item-detail">
                    <!-- <p class="shipment-icon"><i class="fas fa-truck"></i></p> -->
                    <i class="fas fa-truck"></i>
                    <div class="item-detail-data">
                       <p class="precio">$70.500</p>
                       <p class="desc">10% OFF</p>
                    </div>
                    <h4 class="title-item">Samsung Galaxy S10</h4>
                    </article>
                </article>

                <article class="item">
                    <img src="images/img-tv-samsung-smart.jpg" alt="">
                    <article class="item-detail">
                    <!-- <p class="shipment-icon"><i class="fas fa-truck"></i></p> -->
                    <i class="fas fa-truck"></i>
                    <div class="item-detail-data">
                        <p class="precio">$23.200</p>
                        <p class="desc">5% OFF</p>
                    </div>
                    <h4 class="title-item">SmartTv Samsung 43"</h4>
                    </article>
                </article>

            </div>

        </section>

    </main>

    <footer>
        
        <div class="benefits">

            <section class = 'tarjeta-efectivo'>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class = 'envio-gratis'>
                <i class="fas fa-gift"></i></i>
                <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class = 'seguridad'>
                <i class="fas fa-user-shield"></i></i>
                <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
            
        </div>

            <section class = 'copyright'>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        


    </footer>
</body>
</html>