<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Pestaña -->
    <link rel="icon" href="images/logo-mercado-liebre.svg">
    <title>Bienvenidos a Mercadoliebre</title>

    <!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- TIPOGRAFIA ROBOTO -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

 <!-- Hojas de estilo y normalice -->
 <link rel="stylesheet" href="/css/styles.css">
 <link rel="stylesheet" href="/css/normalize.css">

</head>
<body>
    <header>


        <section class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
                <form action="*" class="search" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <button><i class="fa fa-search"></i></button>
                </form>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>

        <nav class="nav-bar">
            <ul class="nav-shop">
                <li type="none"> <a href="*">Ofertas</a> </li>
                <li type="none"> <a href="*">Tiendas Oficiales</a> </li>
                <li type="none"> <a href="*">Vender</a> </li>
                <li type="none"> <a href="*">Ayuda</a> </li>
            </ul>
            <ul class="nav-user">
                <li type="none"> <a href="/register">Creá tu cuenta</a> </li>
                <li type="none"> <a href="/login">Ingresá</a> </li>
                <li type="none"> <a href="*">Mis compras</a> </li>
            </ul>
        </nav>

        <section class="burger-menu">
            <i class="fas fa-bars"></i>
        </section>

    </header>

    <main>
        
        <div class="register">
            

            <form action="/" method="GET">
                <h3>Completa tus datos</h3>

                <div class="user-data">
                    <label for="name-lastName">
                    <input type="text" name="name-lastName" placeholder="Nombre y apellido" required>
                    <span class="feedback"></span>
                    </label>
                </div>

                <div class="user-data">
                    <label for="user">
                    <input type="text" name="user" placeholder="Elegí tu nombre de usuario" minlength="8" required>
                    <span class="feedback"></span>
                    </label>
                </div>

                <div class="user-data">
                    <h5>Fecha de Nacimiento</h5>
                    <label for="birthday">
                    <input type="date" name="birthday" min="1920-01-01" required>
                    <span class="feedback"></span>
                    </label>
                </div>

                <div class="user-data">
                    <label for="adress">
                        <h5>Localidad</h5>
                    <select name="adress" required>
                        <option value="">Selecciona tu localidad</option>
                        <option value="Capital Federal">Capital Federal</option>
                        <option value="Zona Sur">Zona Sur</option>
                        <option value="Zona Norte">Zona Norte</option>
                        <option value="Zona Oeste">Zona Oeste</option>
                        <option value="Interior">Interior</option>
                    </select>
                    <span class="feedback"></span>
                    </label>
                </div>

                <div class="user-data">
                    <label for="adress">
                    <input type="text" name="adress" placeholder="Calle" required>
                    <span class="feedback"></span>
                    </label>
                </div>
                <div class="user-data">
                    <label for="adress">
                    <input type="text" name="adress" placeholder="Altura" required>
                    <span class="feedback"></span>
                    </label>
                </div>
                <div class="user-data">
                    <label for="adress">
                    <input type="text" name="adress" placeholder="Código Postal" required>
                    <span class="feedback"></span>
                    </label>
                </div>
                    
                    <h5>Perfil de Usuario</h5>
                <div class="user-data">
                    <div class="user-data-perfil">
                        <label for="user-perfil"><input type="radio" name="user-perfil" value="Comprador" required>Comprador</label>
                        <label for="user-perfil"><input type="radio" name="user-perfil" value="Vendedor" required>Vendedor</label>
                        <span class="feedback"></span>
                    </div>
                </div>
                    <h5>Intereses</h5>
                <div class="user-data">
                    <div class="user-data-preferences">
                        <label for="user-preferences"><input type="checkbox" value="Electro">Electro</label>
                        <label for="user-preferences"><input type="checkbox" value="Moda">Moda</label>
                        <label for="user-preferences"><input type="checkbox" value="Hogar">Hogar</label>
                        <label for="user-preferences"><input type="checkbox" value="Jugueteria">Jugueteria</label>
                        <label for="user-preferences"><input type="checkbox" value="VidaSana">Vida Sana</label>
                    </div>
                </div>

                    <div class="user-data">
                        <h5>Agregá una foto</h5>
                        <label for="user-avatar">
                        <input type="file" name="user-picture" accept=".jpg, .png">
                        <span class="feedback"></span>
                        </label>
                    </div>

                    <div class="user-data">
                        <label for="password">
                        <input type="password" name="password" placeholder="Elegí tu contraseña" minlength="8" required>
                        <span class="feedback"></span>
                        </label>
                    </div>
                    <div class="user-data">
                        <label for="password">
                        <input type="password" name="password" placeholder="Confirmá tu contraseña" required>
                        <span class="feedback"></span>
                        </label>
                    </div>

                    <div class="user-data-buttons">

                        <div class="user-data-submit-button">          
                            <!-- <button type="submit"  ></button> -->
                            <button type="submit">Enviar</button>
                        </div>

                        <div class="user-data-reset-button">          
                            <!-- <button type="reset"  ></button> -->
                            <button type="reset">Borrar</button>
                        </div>

                    </div>
            </form>

        </div>




    </main>

    
    <footer>
        
        <div class="benefits">

            <section class = 'tarjeta-efectivo'>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class = 'envio-gratis'>
                <i class="fas fa-gift"></i></i>
                <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class = 'seguridad'>
                <i class="fas fa-user-shield"></i></i>
                <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
            
        </div>

            <section class = 'copyright'>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        


    </footer>
</body>
</html>